<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error page</title>
<meta charset="utf-8" />
<object th:include="fragments/header :: head" th:remove="tag" />
</head>
<body>
	<div class="auth">
		<div class="auth-container">
			<div class="card">
				<header class="auth-header">
					<h1 class="auth-title">
						<img th:src="@{/resources/assets/scb-logo.png}" alt="SCB" />
					</h1>
				</header>
				<div class="auth-content">

					<h1>FORBIDDEN</h1>
					<p>You are not authorized to access this URL</p>
					<a th:href="@{/}">Back to Login Page</a>

				</div>


			</div>
		</div>
	</div>

</body>
</html>
