<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<title>Error page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<object th:include="fragments/header :: head" th:remove="tag" />
</head>
<body>

	<div class="auth">
		<div class="auth-container">
			<div class="card">
				<header class="auth-header">
					<h1 class="auth-title">
						<img th:src="@{/resources/assets/scb-logo.png}" alt="SCB" />
					</h1>
				</header>
				<div class="auth-content">

					<div class="form-group">
						<label>Error code</label> <span th:text="${errorCode}">
					</div>

					<div class="form-group">
						<label>Error message</label> <span th:text="${errorMessage}">
					</div>

				</div>


			</div>
		</div>
	</div>


</body>
</html>